### Loading Libararies and Data

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#%matplotlib inline

In [70]:
# read train and test set
train = pd.read_csv("train_titanic.csv")
test = pd.read_csv("test_titanic.csv")

In [71]:
train.shape

(718, 12)

In [72]:
train.loc[[679]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C

In [73]:
test.shape

(173, 12)

In [74]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [75]:
test.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [76]:
# combining train and test dataset
df = train.append(test, ignore_index=True)

In [77]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [78]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [79]:
# check missing values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

The combined data has missing data in __Age__, __Cabin__, and __Embarked__ features.

Since __Cabin__ has mostly missing values (~77%), we can simply remove it from our data. We can impute the missing values in __Age__ by median. Since __Embarked__ is a categorical, we will use mode to impute missing values.

In [80]:
# remove cabin
df.drop('Cabin', axis=1, inplace=True)

# missing data imputation
df['Age'].fillna(df['Age'].median(), inplace = True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace = True)

In [81]:
# check missing values again
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

We have successfully imputed all the missing values.

We will also remove the *Ticket*, *Name* and *PassengerId* variables as they don't seem to have any impact on the dependent variable.

In [82]:
# remove Ticket and Name variables
df.drop(['Ticket', 'Name', 'PassengerId'], axis=1, inplace=True)

Now let's convert the categorical varialbles to numerical variables.

In [83]:
from sklearn.preprocessing import LabelEncoder

# label enconding
label = LabelEncoder()
df['Embarked_num'] = label.fit_transform(df['Embarked'])
df['Sex_num'] = label.fit_transform(df['Sex'])

df = df.drop(['Sex', 'Embarked'], axis = 1)

### Univariate Analysis

In [84]:
df.describe()

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked_num,Sex_num
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208,1.536476,0.647587
std,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429,0.791503,0.477990
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,1.000000,0.000000
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,2.000000,1.000000
75%,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,2.000000,1.000000
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,2.000000,1.000000

In [85]:
df['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [86]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [87]:
df['Sex_num'].value_counts()

1    577
0    314
Name: Sex_num, dtype: int64

Plot histogram of __Age__

In [88]:
df['Age'].plot.hist()

Plot boxplot of __Age__

In [89]:
df['Age'].plot.box()

Plot histogram of __Fare__

In [90]:
df['Fare'].plot.hist()

In [91]:
df['Fare'].plot.box()

### Bivariate Analysis

In [92]:
# scatter plot between Age and Fare
df.plot.scatter('Age', 'Fare')

In [93]:
# Pclass vs mean Age
df.groupby('Pclass')['Age'].mean().plot.bar()

In [94]:
# Pclass vs mean Fare
df.groupby('Pclass')['Fare'].mean().plot.bar()

Let's split __df__ back to train and test set.

In [95]:
train = df[:len(train)]
test = df[len(train):]

true_val = test['Survived']
test.drop(['Survived'], axis=1, inplace=True)

C:\Users\Nwh\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Outlier Treatment

Rows having Fare greater than 400 are outliers. So, we will remove this from our data.

In [96]:
train = train[train['Fare']<400]

Replace the outliers in Fare with the mean. The outliers are approximately above 62.

In [97]:
train.loc[train['Fare']>62, 'Fare'] = np.mean(train['Fare'])

Similarly, we will replace the outliers present in the Age variable.

In [98]:
train.loc[train['Age']>55, 'Age'] = np.mean(train['Age'])

In [100]:
train.loc[[678]]

     Survived  Pclass   Age  SibSp  Parch  Fare  Embarked_num  Sex_num
678         0       3  43.0      1      6  46.9             2        0

In [101]:
train.index = range(len(train))

In [103]:
train.loc[[679]]

     Survived  Pclass   Age  SibSp  Parch       Fare  Embarked_num  Sex_num
679         1       1  27.0      0      0  31.343982             0        1

### Modeling

In [30]:
xtrain = train.drop('Survived', axis = 1)
ytrain = train['Survived']

In [31]:
from sklearn.linear_model import LogisticRegression

In [32]:
lreg = LogisticRegression()

In [33]:
lreg.fit(xtrain, ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [34]:
pred = lreg.predict(test)

In [35]:
pred

array([0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0], dtype=int64)

In [36]:
test

     Pclass   Age  SibSp  Parch      Fare  Embarked_num  Sex_num
718       3  28.0      0      0   15.5000             1        1
719       3  33.0      0      0    7.7750             2        1
720       2   6.0      0      1   33.0000             2        0
721       3  17.0      1      0    7.0542             2        1
722       2  34.0      0      0   13.0000             2        1
723       2  50.0      0      0   13.0000             2        1
724       1  27.0      1      0   53.1000             2        1
725       3  20.0      0      0    8.6625             2        1
726       2  30.0      3      0   21.0000             2        0
727       3  28.0      0      0    7.7375             1        0
728       2  25.0      1      0   26.0000             2        1
729       3  25.0      1      0    7.9250             2        0
730       1  29.0      0      0  211.3375             2        0
731       3  11.0      0      0   18.7875             0        1
732       2  28.0      0      0    0.0000             2        1
733       2  23.0      0      0   13.0000             2        1
734       2  23.0      0      0   13.0000             2        1
735       3  28.5      0      0   16.1000             2        1
736       3  48.0      1      3   34.3750             2        0
737       1  35.0      0      0  512.3292             0        1
738       3  28.0      0      0    7.8958             2        1
739       3  28.0      0      0    7.8958             2        1
740       1  28.0      0      0   30.0000             2        1
741       1  36.0      1      0   78.8500             2        1
742       1  21.0      2      2  262.3750             0        0
743       3  24.0      1      0   16.1000             2        1
744       3  31.0      0      0    7.9250             2        1
745       1  70.0      1      1   71.0000             2        1
746       3  16.0      1      1   20.2500             2        1
747       2  30.0      0      0   13.0000             2        0
..      ...   ...    ...    ...       ...           ...      ...
861       2  21.0      1      0   11.5000             2        1
862       1  48.0      0      0   25.9292             2        0
863       3  28.0      8      2   69.5500             2        0
864       2  24.0      0      0   13.0000             2        1
865       2  42.0      0      0   13.0000             2        0
866       2  27.0      1      0   13.8583             0        0
867       1  31.0      0      0   50.4958             2        1
868       3  28.0      0      0    9.5000             2        1
869       3   4.0      1      1   11.1333             2        1
870       3  26.0      0      0    7.8958             2        1
871       1  47.0      1      1   52.5542             2        0
872       1  33.0      0      0    5.0000             2        1
873       3  47.0      0      0    9.0000             2        1
874       2  28.0      1      0   24.0000             0        0
875       3  15.0      0      0    7.2250             0        0
876       3  20.0      0      0    9.8458             2        1
877       3  19.0      0      0    7.8958             2        1
878       3  28.0      0      0    7.8958             2        1
879       1  56.0      0      1   83.1583             0        0
880       2  25.0      0      1   26.0000             2        0
881       3  33.0      0      0    7.8958             2        1
882       3  22.0      0      0   10.5167             2        0
883       2  28.0      0      0   10.5000             2        1
884       3  25.0      0      0    7.0500             2        1
885       3  39.0      0      5   29.1250             1        0
886       2  27.0      0      0   13.0000             2        1
887       1  19.0      0      0   30.0000             2        0
888       3  28.0      1      2   23.4500             2        0
889       1  26.0      0      0   30.0000             0        1
890       3  32.0      0      0    7.7500             1        1

[173 rows x 7 columns]

In [37]:
true_val

718    0
719    0
720    1
721    0
722    0
723    0
724    1
725    0
726    1
727    1
728    0
729    0
730    1
731    0
732    0
733    0
734    0
735    0
736    0
737    1
738    0
739    0
740    1
741    0
742    1
743    0
744    1
745    0
746    0
747    1
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 173, dtype: int64

In [38]:
lreg.score(test, true_val)

0.80924855491329484

In [48]:
X = xtrain
y = ytrain
X.columns

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_num', 'Sex_num'], dtype='object')

In [49]:
from sklearn.model_selection import StratifiedKFold
i = 1
kf = StratifiedKFold(n_splits=5,random_state=0,shuffle=True)

X.reindex(columns=['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_num', 'Sex_num'])

     Pclass        Age  SibSp  Parch       Fare  Embarked_num  Sex_num
0         3  22.000000      1      0   7.250000             2        1
1         1  38.000000      1      0  31.343982             0        0
2         3  26.000000      0      0   7.925000             2        0
3         1  35.000000      1      0  53.100000             2        0
4         3  35.000000      0      0   8.050000             2        1
5         3  28.000000      0      0   8.458300             1        1
6         1  54.000000      0      0  51.862500             2        1
7         3   2.000000      3      1  21.075000             2        1
8         3  27.000000      0      2  11.133300             2        0
9         2  14.000000      1      0  30.070800             0        0
10        3   4.000000      1      1  16.700000             2        0
11        1  29.644204      0      0  26.550000             2        0
12        3  20.000000      0      0   8.050000             2        1
13        3  39.000000      1      5  31.275000             2        1
14        3  14.000000      0      0   7.854200             2        0
15        2  55.000000      0      0  16.000000             2        0
16        3   2.000000      4      1  29.125000             1        1
17        2  28.000000      0      0  13.000000             2        1
18        3  31.000000      1      0  18.000000             2        0
19        3  28.000000      0      0   7.225000             0        0
20        2  35.000000      0      0  26.000000             2        1
21        2  34.000000      0      0  13.000000             2        1
22        3  15.000000      0      0   8.029200             1        0
23        1  28.000000      0      0  35.500000             2        1
24        3   8.000000      3      1  21.075000             2        0
25        3  38.000000      1      5  31.387500             2        0
26        3  28.000000      0      0   7.225000             0        1
27        1  19.000000      3      2  31.343982             2        1
28        3  28.000000      0      0   7.879200             1        0
29        3  28.000000      0      0   7.895800             2        1
..      ...        ...    ...    ...        ...           ...      ...
688       3  18.000000      0      0   7.795800             2        1
689       1  15.000000      0      1  31.343982             2        0
690       1  31.000000      1      0  57.000000             2        1
691       3   4.000000      0      1  13.416700             0        0
692       3  28.000000      0      0  56.495800             2        1
693       3  25.000000      0      0   7.225000             0        1
694       1  29.644204      0      0  26.550000             2        1
695       2  52.000000      0      0  13.500000             2        1
696       3  44.000000      0      0   8.050000             2        1
697       3  28.000000      0      0   7.733300             1        0
698       1  49.000000      1      1  31.343982             0        1
699       3  42.000000      0      0   7.650000             2        1
700       1  18.000000      1      0  31.343982             0        0
701       1  35.000000      0      0  26.287500             2        1
702       3  18.000000      0      1  14.454200             0        0
703       3  25.000000      0      0   7.741700             1        1
704       3  26.000000      1      0   7.854200             2        1
705       2  39.000000      0      0  26.000000             2        1
706       2  45.000000      0      0  13.500000             2        0
707       1  42.000000      0      0  26.287500             2        1
708       1  22.000000      0      0  31.343982             2        0
709       3  28.000000      1      1  15.245800             0        1
710       1  24.000000      0      0  49.504200             0        0
711       1  28.000000      0      0  26.550000             2        1
712       1  48.000000      1      0  52.000000             2        1
713       3  29.000000      0      0   9.483300             2        1
714       2  52.000000      0      0  13.000000             2        1
715       3  19.000000      0      0   7.650000             2        1
716       1  38.000000      0      0  31.343982             0        0
717       2  27.000000      0      0  10.500000             2        0

[716 rows x 7 columns]

In [59]:
X.shape

(716, 7)

In [63]:
X.loc[[678:680]]

SyntaxError: invalid syntax (<ipython-input-63-77ee05c65995>, line 1)

In [52]:
for train_index,test_index in kf.split(X,y):
    print('\n {} of kfold {}'.format(i,kf.n_splits))
    print('\n train index',train_index)
    print('\n test index',test_index)
    
    xtr,xcv = X.loc[train_index], X.loc[test_index]
    ytr,ycv = y[train_index], y[test_index]
    
    print('\n LOC train index',X.loc[train_index])
    print('\n LOC test index',X.loc[test_index])
    
    model = LogisticRegression(random_state=0)
    
    model.fit(xtr,ytr)
    pred_test = model.predict(xcv)
    
    #classifier = LogisticRegression()

    #classifier.fit(xtr,ytr)
    
    #pred_test = classifier.predict(xcv)
    score = accuracy_score(ycv,pred_test)
    print('accuracy_score',score)
    i+=1

 1 of kfold 5

 train index [  0   1   2   3   5   6   7   8   9  11  12  14  16  18  19  21  22  24
  25  27  28  29  32  33  34  35  36  37  38  39  41  42  43  44  45  46
  47  49  50  51  53  54  55  56  57  58  59  60  62  63  64  65  66  68
  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86
  88  89  90  92  94  96  97  98  99 102 103 104 105 106 107 109 110 111
 112 113 114 115 116 117 119 121 123 124 126 128 129 130 131 132 133 134
 135 136 137 138 139 141 142 143 144 145 146 147 148 150 151 152 153 155
 156 158 159 160 162 164 165 166 167 168 169 170 172 173 174 175 176 177
 178 179 180 181 182 184 186 187 188 189 191 193 194 195 196 197 198 199
 200 202 204 205 206 207 208 209 210 212 213 214 215 216 217 218 220 221
 222 223 224 225 226 227 228 229 230 231 232 234 236 237 239 241 245 246
 247 248 249 251 252 253 254 255 256 257 259 260 263 264 265 266 267 268
 269 270 271 273 275 276 277 278 279 280 281 282 283 284 285 286 288 289
 290 292 293 294 295 297 299 300 301 302 303 306 307 308 309 310 311 312
 313 314 315 318 319 321 322 323 325 326 328 329 330 331 333 335 336 339
 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 356 357 358
 359 360 361 362 363 364 366 367 368 369 370 371 372 373 375 376 378 379
 380 382 383 384 385 386 387 388 389 390 391 392 394 395 396 397 400 401
 403 404 405 406 407 408 409 410 412 413 416 417 418 419 420 422 423 424
 425 426 427 428 429 430 431 433 435 436 437 439 440 441 443 444 445 446
 448 449 450 451 454 455 456 457 458 459 460 462 463 464 466 468 469 470
 471 472 473 474 475 476 477 478 479 480 481 482 485 487 488 489 490 491
 492 493 494 496 497 498 499 500 501 503 504 505 507 508 509 510 511 513
 514 515 517 519 520 521 522 523 524 525 526 527 528 529 531 532 534 535
 536 537 538 541 542 543 544 545 546 547 548 549 550 551 553 554 555 556
 557 558 559 561 562 563 566 567 569 570 571 572 573 574 575 576 579 580
 582 583 584 585 586 588 590 591 592 593 594 596 597 599 600 601 603 605
 606 610 612 613 614 615 616 617 618 620 624 625 626 627 628 629 630 631
 633 635 636 637 639 640 641 642 643 645 646 648 649 650 652 653 654 655
 656 657 658 659 660 661 662 663 664 666 667 668 669 670 671 672 673 674
 675 677 678 679 680 681 682 683 685 687 689 690 691 692 693 694 695 696
 697 698 700 702 704 705 706 707 708 710 711 712 714 715]

 test index [  4  10  13  15  17  20  23  26  30  31  40  48  52  61  67  87  91  93
  95 100 101 108 118 120 122 125 127 140 149 154 157 161 163 171 183 185
 190 192 201 203 211 219 233 235 238 240 242 243 244 250 258 261 262 272
 274 287 291 296 298 304 305 316 317 320 324 327 332 334 337 338 355 365
 374 377 381 393 398 399 402 411 414 415 421 432 434 438 442 447 452 453
 461 465 467 483 484 486 495 502 506 512 516 518 530 533 539 540 552 560
 564 565 568 577 578 581 587 589 595 598 602 604 607 608 609 611 619 621
 622 623 632 634 638 644 647 651 665 676 684 686 688 699 701 703 709 713]

 LOC train index      Pclass        Age  SibSp  Parch       Fare  Embarked_num  Sex_num
0       3.0  22.000000    1.0    0.0   7.250000           2.0      1.0
1       1.0  38.000000    1.0    0.0  31.343982           0.0      0.0
2       3.0  26.000000    0.0    0.0   7.925000           2.0      0.0
3       1.0  35.000000    1.0    0.0  53.100000           2.0      0.0
5       3.0  28.000000    0.0    0.0   8.458300           1.0      1.0
6       1.0  54.000000    0.0    0.0  51.862500           2.0      1.0
7       3.0   2.000000    3.0    1.0  21.075000           2.0      1.0
8       3.0  27.000000    0.0    2.0  11.133300           2.0      0.0
9       2.0  14.000000    1.0    0.0  30.070800           0.0      0.0
11      1.0  29.644204    0.0    0.0  26.550000           2.0      0.0
12      3.0  20.000000    0.0    0.0   8.050000           2.0      1.0
14      3.0  14.000000    0.0    0.0   7.854200           2.0      0.0
16      3.0   2.000000    4.0    1.0  29.125000           1.0      1.0
18      3.0  31.000000    1.0    0.0  18.000000           2.0      0.0
19      3.0  28.000000    0.0    0.0   7.225000           0.0      0.0
21      2.0  34.000000    0.0    0.0  13.000000           2.0      1.0
22      3.0  15.000000    0.0    0.0   8.029200           1.0      0.0
24      3.0   8.000000    3.0    1.0  21.075000           2.0      0.0
25      3.0  38.000000    1.0    5.0  31.387500           2.0      0.0
27      1.0  19.000000    3.0    2.0  31.343982           2.0      1.0
28      3.0  28.000000    0.0    0.0   7.879200           1.0      0.0
29      3.0  28.000000    0.0    0.0   7.895800           2.0      1.0
32      3.0  28.000000    0.0    0.0   7.750000           1.0      0.0
33      2.0  29.644204    0.0    0.0  10.500000           2.0      1.0
34      1.0  28.000000    1.0    0.0  31.343982           0.0      1.0
35      1.0  42.000000    1.0    0.0  52.000000           2.0      1.0
36      3.0  28.000000    0.0    0.0   7.229200           0.0      1.0
37      3.0  21.000000    0.0    0.0   8.050000           2.0      1.0
38      3.0  18.000000    2.0    0.0  18.000000           2.0      0.0
39      3.0  14.000000    1.0    0.0  11.241700           0.0      0.0
..      ...        ...    ...    ...        ...           ...      ...
678     3.0  43.000000    1.0    6.0  46.900000           2.0      0.0
679     NaN        NaN    NaN    NaN        NaN           NaN      NaN
680     3.0  28.000000    0.0    0.0   8.137500           1.0      0.0
681     1.0  27.000000    0.0    0.0  31.343982           0.0      1.0
682     3.0  20.000000    0.0    0.0   9.225000           2.0      1.0
683     3.0  14.000000    5.0    2.0  46.900000           2.0      1.0
685     2.0  25.000000    1.0    2.0  41.579200           0.0      1.0
687     3.0  19.000000    0.0    0.0  10.170800           2.0      1.0
689     1.0  15.000000    0.0    1.0  31.343982           2.0      0.0
690     1.0  31.000000    1.0    0.0  57.000000           2.0      1.0
691     3.0   4.000000    0.0    1.0  13.416700           0.0      0.0
692     3.0  28.000000    0.0    0.0  56.495800           2.0      1.0
693     3.0  25.000000    0.0    0.0   7.225000           0.0      1.0
694     1.0  29.644204    0.0    0.0  26.550000           2.0      1.0
695     2.0  52.000000    0.0    0.0  13.500000           2.0      1.0
696     3.0  44.000000    0.0    0.0   8.050000           2.0      1.0
697     3.0  28.000000    0.0    0.0   7.733300           1.0      0.0
698     1.0  49.000000    1.0    1.0  31.343982           0.0      1.0
700     1.0  18.000000    1.0    0.0  31.343982           0.0      0.0
702     3.0  18.000000    0.0    1.0  14.454200           0.0      0.0
704     3.0  26.000000    1.0    0.0   7.854200           2.0      1.0
705     2.0  39.000000    0.0    0.0  26.000000           2.0      1.0
706     2.0  45.000000    0.0    0.0  13.500000           2.0      0.0
707     1.0  42.000000    0.0    0.0  26.287500           2.0      1.0
708     1.0  22.000000    0.0    0.0  31.343982           2.0      0.0
710     1.0  24.000000    0.0    0.0  49.504200           0.0      0.0
711     1.0  28.000000    0.0    0.0  26.550000           2.0      1.0
712     1.0  48.000000    1.0    0.0  52.000000           2.0      1.0
714     2.0  52.000000    0.0    0.0  13.000000           2.0      1.0
715     3.0  19.000000    0.0    0.0   7.650000           2.0      1.0

[572 rows x 7 columns]

 LOC test index      Pclass        Age  SibSp  Parch       Fare  Embarked_num  Sex_num
4       3.0  35.000000    0.0    0.0   8.050000           2.0      1.0
10      3.0   4.000000    1.0    1.0  16.700000           2.0      0.0
13      3.0  39.000000    1.0    5.0  31.275000           2.0      1.0
15      2.0  55.000000    0.0    0.0  16.000000           2.0      0.0
17      2.0  28.000000    0.0    0.0  13.000000           2.0      1.0
20      2.0  35.000000    0.0    0.0  26.000000           2.0      1.0
23      1.0  28.000000    0.0    0.0  35.500000           2.0      1.0
26      3.0  28.000000    0.0    0.0   7.225000           0.0      1.0
30      1.0  40.000000    0.0    0.0  27.720800           0.0      1.0
31      1.0  28.000000    1.0    0.0  31.343982           0.0      0.0
40      3.0  40.000000    1.0    0.0   9.475000           2.0      0.0
48      3.0  28.000000    2.0    0.0  21.679200           0.0      1.0
52      1.0  49.000000    1.0    0.0  31.343982           0.0      0.0
61      1.0  38.000000    0.0    0.0  31.343982           2.0      0.0
67      3.0  19.000000    0.0    0.0   8.158300           2.0      1.0
87      3.0  28.000000    0.0    0.0   8.050000           2.0      1.0
91      3.0  20.000000    0.0    0.0   7.854200           2.0      1.0
93      3.0  26.000000    1.0    2.0  20.575000           2.0      1.0
95      3.0  28.000000    0.0    0.0   8.050000           2.0      1.0
100     3.0  28.000000    0.0    0.0   7.895800           2.0      0.0
101     3.0  28.000000    0.0    0.0   7.895800           2.0      1.0
108     3.0  38.000000    0.0    0.0   7.895800           2.0      1.0
118     1.0  24.000000    0.0    1.0  31.343982           0.0      1.0
120     2.0  21.000000    2.0    0.0  31.343982           2.0      1.0
122     2.0  32.500000    1.0    0.0  30.070800           0.0      1.0
125     3.0  12.000000    1.0    0.0  11.241700           0.0      1.0
127     3.0  24.000000    0.0    0.0   7.141700           2.0      1.0
140     3.0  28.000000    0.0    2.0  15.245800           0.0      0.0
149     2.0  42.000000    0.0    0.0  13.000000           2.0      1.0
154     3.0  28.000000    0.0    0.0   7.312500           2.0      1.0
..      ...        ...    ...    ...        ...           ...      ...
587     1.0  29.644204    1.0    1.0  31.343982           0.0      1.0
589     3.0  28.000000    0.0    0.0   8.050000           2.0      1.0
595     3.0  36.000000    1.0    1.0  24.150000           2.0      1.0
598     3.0  28.000000    0.0    0.0   7.225000           0.0      1.0
602     1.0  28.000000    0.0    0.0  42.400000           2.0      1.0
604     1.0  35.000000    0.0    0.0  26.550000           0.0      1.0
607     1.0  27.000000    0.0    0.0  30.500000           2.0      1.0
608     2.0  22.000000    1.0    2.0  41.579200           0.0      0.0
609     1.0  40.000000    0.0    0.0  31.343982           2.0      0.0
611     3.0  28.000000    0.0    0.0   7.050000           2.0      1.0
619     2.0  26.000000    0.0    0.0  10.500000           2.0      1.0
621     1.0  42.000000    1.0    0.0  52.554200           2.0      1.0
622     3.0  20.000000    1.0    1.0  15.741700           0.0      1.0
623     3.0  21.000000    0.0    0.0   7.854200           2.0      1.0
632     1.0  32.000000    0.0    0.0  30.500000           0.0      1.0
634     3.0   9.000000    3.0    2.0  27.900000           2.0      0.0
638     3.0  41.000000    0.0    5.0  39.687500           2.0      0.0
644     3.0   0.750000    2.0    1.0  19.258300           0.0      0.0
647     1.0  29.644204    0.0    0.0  35.500000           0.0      1.0
651     2.0  18.000000    0.0    1.0  23.000000           2.0      0.0
665     2.0  32.000000    2.0    0.0  31.343982           2.0      1.0
676     3.0  24.500000    0.0    0.0   8.050000           2.0      1.0
684     2.0  29.644204    1.0    1.0  39.000000           2.0      1.0
686     3.0  14.000000    4.0    1.0  39.687500           2.0      1.0
688     3.0  18.000000    0.0    0.0   7.795800           2.0      1.0
699     3.0  42.000000    0.0    0.0   7.650000           2.0      1.0
701     1.0  35.000000    0.0    0.0  26.287500           2.0      1.0
703     3.0  25.000000    0.0    0.0   7.741700           1.0      1.0
709     3.0  28.000000    1.0    1.0  15.245800           0.0      1.0
713     3.0  29.000000    0.0    0.0   9.483300           2.0      1.0

[144 rows x 7 columns]

C:\Users\Nwh\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
C:\Users\Nwh\Anaconda3\lib\site-packages\pandas\core\series.py:696: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]
C:\Users\Nwh\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
C:\Users\Nwh\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').